/*!*******************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/app.scss ***!
  \*******************************************************************************************************/
* {
  font-family: "Courier New", Courier, monospace;
  margin: 0;
  padding: 0;
  border: 0;
}

.cuerpo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 600px;
}
@media (max-width: 768px) {
  .cuerpo {
    width: 90%;
  }
}
.cuerpo h1 {
  text-align: center;
  color: #333;
}
.cuerpo h3 {
  text-align: center;
  font-size: 12px;
}
.cuerpo .container > input {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.cuerpo .contact-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.cuerpo .contact-list .contact {
  background: #fff;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.cuerpo .contact-list .contact h1 {
  margin: 0;
  font-size: 18px;
  color: #333;
}
.cuerpo .contact-list .contact p {
  margin: 5px 0 0;
  color: #666;
  display: none;
}
.cuerpo .contact-list .contact.active p {
  display: block;
}
